<html xmlns:th="http://https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Registrar</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap-min.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" th:href="@{~/css/login.css}">
</head>

<body class="text-center">


<div class="card mb-4 box-shadow shadow p-4 mb-3 bg-white rounded">
<form th:action="@{/registrar}" method="post" th:object="${usuario}">
  <div class="form-group">
    <h1 class="h3 mb-3 font-weight-normal">Registrar usuário</h1>
    <div th:if="${message != null}" th:text="${message}" class="alert alert-danger" role="alert"></div>

    <label for="exampleInputEmail1">Email</label>
    <input th:field="*{username}" name="username" type="email" class="form-control" id="exampleInputEmail1"  placeholder="Insira email">
    <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input th:field="*{password}" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  </div>
  <div class="form-check">
    <div class="form-group mb-4">
      <label for="roleInput">Administrador?</label>

      <select th:field="*{role}" class="form-select" id="roleInput">
        <option value="USER">Não</option>
        <option value="ADMIN">Sim</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
  <a class="btn btn-lg btn-secondary btn-block" th:href="@{/login}">Voltar pro login</a>

</form>
</div>
</body>
</html>