<!DOCTYPE html>
<html xmlns:th="http://https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<title>Todas as tecnologias</title>
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${message != null}" th:text="${message}"></div>

    <div th:if="${not #lists.isEmpty(list)}">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>ID projeto</th>
                <th>Starter</th>
                <th>Nota</th>
                <th>Módulo do projeto</th>
                <th>Etapa</th>
                <th colspan="2">Opções</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="projeto: ${list}">
                <td th:text="${projeto.id}"></td>
                <td th:text="${projeto.starter.nome}"></td>
                <td th:text="${projeto.nota}"></td>
                <td th:text="${projeto.modulo.nome}"></td>
                <td th:text="${projeto.etapa.nome}"></td>

                <td class="text-center">
                    <a  th:href="@{/projetos/edit(id=${projeto.id})}" type="button" class="text-decoration-none link-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>
                    </a>
                </td>
                <td class="text-center">
                    <a id="deleteButton" th:href="@{/projetos/delete(id=${projeto.id})}" class="text-decoration-none link-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${totalPages > 1}" class="mb-5">
        <div class="col-sm-2">
            Total de itens: [[${totalItems}]]
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}" >
                    <a th:href="@{'/projetos/' + ${1}}" class="page-link" >Início</a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}" >
                    <a th:href="@{'/projetos/' + ${currentPage - 1}}" class="page-link" >Anterior</a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                    th:class="${currentPage != i ? 'page-item' : 'page-item disabled'}">
                    <a th:href="@{'/projetos/' + ${i}}" class="page-link" >[[${i}]]</a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" >
                    <a th:href="@{'/projetos/' + ${totalPages}}" class="page-link" >último</a>
                </li>
            </ul>
        </nav>
    </div>


    <div th:if="${#lists.isEmpty(list)}" class="container card border-light mb-3  d-flex justify-content-center text-center" style="width: 20rem;">
        <h2>Lista vazia. Cadastre para ver.</h2>
        <img style="height: 400px; width: 100%;" th:src="@{~/images/empty.svg}"/>

    </div>
</div>
</html>