<!DOCTYPE html>
<html xmlns:th="http://https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<title>Todos os starters</title>
<div layout:fragment="content">


    <div class="alert alert-primary" th:if="${message != null}" th:text="${message}"></div>

    <div th:if="${not #lists.isEmpty(list)}">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>4 letras</th>
                <th class="text-center">Id do grupo</th>
                <th colspan="2" class="text-center">Opções</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="starter: ${list}">
                <td th:text="${starter.id}"></td>
                <td>
                    <img th:if="${!#strings.isEmpty(starter.foto)}"
                         class="rounded-circle" th:src="@{${starter.fotoImagePath}}"
                         width="80" height="80">
                    <img th:if="${#strings.isEmpty(starter.foto)}"
                         class="rounded-circle" th:src="@{~/images/placeholder.png}"
                         width="80" height="80">
                </td>
                <td th:text="${starter.nome}" style="width: 35%"></td>
                <td th:text="${starter.letras}"></td>
                <td th:text="${starter.grupoStarters.id}" class="text-center"></td>


                <td class="text-center">
                    <a id="photoButton" th:href="@{/starters/photo/{id}(id=${starter.id})}" class="text-decoration-none link-secondary btn eBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                            <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                            <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                        </svg>
                    </a>
                </td>

                <td class="text-center">
                    <a  th:href="@{/starters/edit(id=${starter.id})}" type="button" class="text-decoration-none link-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>
                    </a>
                </td>
                <td class="text-center">
                    <a id="deleteButton" th:href="@{/starters/delete(id=${starter.id})}" class="text-decoration-none link-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<div th:if="${totalPages > 1}" class="mb-5">
    <div class="col-sm-2">
        Total de itens: [[${totalItems}]]
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}" >
                <a th:href="@{'/starters/' + ${1}}" class="page-link" >Início</a>
            </li>
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}" >
                <a th:href="@{'/starters/' + ${currentPage - 1}}" class="page-link" >Anterior</a>
            </li>
            <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                th:class="${currentPage != i ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{'/starters/' + ${i}}" class="page-link" >[[${i}]]</a>
            </li>
            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" >
                <a th:href="@{'/starters/' + ${totalPages}}" class="page-link" >último</a>
            </li>
        </ul>
    </nav>
</div>

    <div th:if="${#lists.isEmpty(list)}" class="container card border-light mb-3  d-flex justify-content-center text-center" style="width: 20rem;">
        <img style="height: 400px; width: 100%;" th:src="@{~/images/empty.svg}"/>
        <h2>Lista vazia. Cadastre pra ver</h2>
    </div>

</div>
</html>